#DIV_1 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    max-height: 100%;
    min-height: 100px;
    width: 965.11px;
    perspective-origin: 562.547px 126.5px;
    transform-origin: 562.547px 126.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 20px ProximaNova-Regular, Arial, sans-serif;
    margin: 0px 23.4531px 0px 23.4375px;
    outline: rgb(51, 51, 51) none 0px;
    overflow: auto;
}/*#DIV_1*/

#DIV_2 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 900px;
    max-width: 100%;
    width: 967.11px;
    perspective-origin: 558.547px 1100px;
    transform-origin: 558.547px 1100px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 20px ProximaNova-Regular, Arial, sans-serif;
    margin: 0px 0px 20px;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_2*/

#DIV_3, #DIV_20, #DIV_37, #DIV_54, #DIV_71, #DIV_105, #DIV_122, #DIV_139, #DIV_156, #DIV_173, #DIV_190, #DIV_207, #DIV_224, #DIV_241, #DIV_258, #DIV_275, #DIV_292, #DIV_309, #DIV_326, #DIV_343, #DIV_360 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    height: 100px;
    width: 967.11px;
    perspective-origin: 558.547px 50px;
    transform-origin: 558.547px 50px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 0px none rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 1px solid rgb(200, 201, 206);
    border-left: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 20px ProximaNova-Regular, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_3, #DIV_20, #DIV_37, #DIV_54, #DIV_71, #DIV_105, #DIV_122, #DIV_139, #DIV_156, #DIV_173, #DIV_190, #DIV_207, #DIV_224, #DIV_241, #DIV_258, #DIV_275, #DIV_292, #DIV_309, #DIV_326, #DIV_343, #DIV_360*/

#DIV_4, #DIV_21, #DIV_38, #DIV_55, #DIV_72, #DIV_89, #DIV_106, #DIV_123, #DIV_140, #DIV_157, #DIV_174, #DIV_191, #DIV_208, #DIV_225, #DIV_242, #DIV_259, #DIV_276, #DIV_293, #DIV_310, #DIV_327, #DIV_344, #DIV_361 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    float: left;
    height: 60px;
    width: 92px;
    perspective-origin: 46px 30px;
    transform-origin: 46px 30px;
    border-top: 0px none rgb(51, 51, 51);
    border-right: 1px solid rgb(193, 197, 199);
    border-bottom: 0px none rgb(51, 51, 51);
    border-left: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 20px ProximaNova-Regular, Arial, sans-serif;
    margin: 20px 0px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 10px;
}/*#DIV_4, #DIV_21, #DIV_38, #DIV_55, #DIV_72, #DIV_89, #DIV_106, #DIV_123, #DIV_140, #DIV_157, #DIV_174, #DIV_191, #DIV_208, #DIV_225, #DIV_242, #DIV_259, #DIV_276, #DIV_293, #DIV_310, #DIV_327, #DIV_344, #DIV_361*/

#DIV_5, #DIV_22, #DIV_39, #DIV_56, #DIV_73, #DIV_90, #DIV_107, #DIV_124, #DIV_141, #DIV_158, #DIV_175, #DIV_192, #DIV_209, #DIV_226, #DIV_243, #DIV_260, #DIV_277, #DIV_294, #DIV_311, #DIV_328, #DIV_345, #DIV_362 {
    box-sizing: border-box;
    color: rgb(0, 156, 222);
    cursor: pointer;
    float: left;
    height: 35px;
    position: relative;
    text-align: right;
    width: 71px;
    perspective-origin: 35.5px 17.5px;
    transform-origin: 35.5px 17.5px;
    border: 0px none rgb(0, 156, 222);
    font: normal normal normal normal 44px / 35px ProximaNova-Regular, arial, sans-serif;
    margin: 4px 0px 1px;
    outline: rgb(0, 156, 222) none 0px;
    padding: 0px 0px 0px 2px;
}/*#DIV_5, #DIV_22, #DIV_39, #DIV_56, #DIV_73, #DIV_90, #DIV_107, #DIV_124, #DIV_141, #DIV_158, #DIV_175, #DIV_192, #DIV_209, #DIV_226, #DIV_243, #DIV_260, #DIV_277, #DIV_294, #DIV_311, #DIV_328, #DIV_345, #DIV_362*/

#DIV_6, #DIV_23, #DIV_40, #DIV_57, #DIV_74, #DIV_91, #DIV_108, #DIV_125, #DIV_142, #DIV_159, #DIV_176, #DIV_193, #DIV_210, #DIV_227, #DIV_244, #DIV_261, #DIV_278, #DIV_295, #DIV_312, #DIV_329, #DIV_346, #DIV_363 {
    box-sizing: border-box;
    color: rgb(72, 75, 77);
    cursor: pointer;
    float: left;
    height: 18px;
    letter-spacing: 0.5px;
    text-align: right;
    text-transform: uppercase;
    width: 71px;
    perspective-origin: 35.5px 9px;
    transform-origin: 35.5px 9px;
    border: 0px none rgb(72, 75, 77);
    font: normal normal normal normal 13px / 18.5714px ProximaNova-Semibold, arial, sans-serif;
    outline: rgb(72, 75, 77) none 0px;
}/*#DIV_6, #DIV_23, #DIV_40, #DIV_57, #DIV_74, #DIV_91, #DIV_108, #DIV_125, #DIV_142, #DIV_159, #DIV_176, #DIV_193, #DIV_210, #DIV_227, #DIV_244, #DIV_261, #DIV_278, #DIV_295, #DIV_312, #DIV_329, #DIV_346, #DIV_363*/

#DIV_7, #DIV_24, #DIV_41, #DIV_58, #DIV_75, #DIV_92, #DIV_109, #DIV_126, #DIV_143, #DIV_160, #DIV_177, #DIV_194, #DIV_211, #DIV_228, #DIV_245, #DIV_262, #DIV_279, #DIV_296, #DIV_313, #DIV_330, #DIV_347, #DIV_364 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    float: left;
    height: 60px;
    width: 659px;
    perspective-origin: 429.5px 30px;
    transform-origin: 429.5px 30px;
    border-top: 0px none rgb(51, 51, 51);
    border-right: 1px solid rgb(193, 197, 199);
    border-bottom: 0px none rgb(51, 51, 51);
    border-left: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 20px ProximaNova-Regular, Arial, sans-serif;
    margin: 20px 10px;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_7, #DIV_24, #DIV_41, #DIV_58, #DIV_75, #DIV_92, #DIV_109, #DIV_126, #DIV_143, #DIV_160, #DIV_177, #DIV_194, #DIV_211, #DIV_228, #DIV_245, #DIV_262, #DIV_279, #DIV_296, #DIV_313, #DIV_330, #DIV_347, #DIV_364*/

#DIV_8, #DIV_25, #DIV_42, #DIV_59, #DIV_76, #DIV_93, #DIV_110, #DIV_127, #DIV_144, #DIV_161, #DIV_178, #DIV_195, #DIV_212, #DIV_229, #DIV_246, #DIV_263, #DIV_280, #DIV_297, #DIV_314, #DIV_331, #DIV_348, #DIV_365 {
    box-sizing: border-box;
    color: rgb(72, 75, 77);
    cursor: pointer;
    height: 35px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 658px;
    perspective-origin: 429px 17.5px;
    transform-origin: 429px 17.5px;
    border: 0px none rgb(72, 75, 77);
    font: normal normal normal normal 26px / 35px ProximaNova-Semibold, arial, sans-serif;
    margin: 4px 0px 1px;
    outline: rgb(72, 75, 77) none 0px;
    overflow: hidden;
}/*#DIV_8, #DIV_25, #DIV_42, #DIV_59, #DIV_76, #DIV_93, #DIV_110, #DIV_127, #DIV_144, #DIV_161, #DIV_178, #DIV_195, #DIV_212, #DIV_229, #DIV_246, #DIV_263, #DIV_280, #DIV_297, #DIV_314, #DIV_331, #DIV_348, #DIV_365*/

#DIV_9, #DIV_26, #DIV_43, #DIV_60, #DIV_77, #DIV_94, #DIV_111, #DIV_128, #DIV_145, #DIV_162, #DIV_179, #DIV_196, #DIV_213, #DIV_230, #DIV_247, #DIV_264, #DIV_281, #DIV_298, #DIV_315, #DIV_332, #DIV_349, #DIV_366 {
    box-sizing: border-box;
    color: rgb(139, 159, 169);
    cursor: pointer;
    height: 18px;
    letter-spacing: 0.5px;
    width: 658px;
    perspective-origin: 429px 9px;
    transform-origin: 429px 9px;
    border: 0px none rgb(139, 159, 169);
    font: normal normal normal normal 13px / 18.5714px ProximaNova-Regular, arial, sans-serif;
    outline: rgb(139, 159, 169) none 0px;
}/*#DIV_9, #DIV_26, #DIV_43, #DIV_60, #DIV_77, #DIV_94, #DIV_111, #DIV_128, #DIV_145, #DIV_162, #DIV_179, #DIV_196, #DIV_213, #DIV_230, #DIV_247, #DIV_264, #DIV_281, #DIV_298, #DIV_315, #DIV_332, #DIV_349, #DIV_366*/

#SPAN_10, #SPAN_27, #SPAN_44, #SPAN_61, #SPAN_78, #SPAN_95, #SPAN_112, #SPAN_129, #SPAN_146, #SPAN_163, #SPAN_180, #SPAN_197, #SPAN_214, #SPAN_231, #SPAN_248, #SPAN_265, #SPAN_282, #SPAN_299, #SPAN_316, #SPAN_333, #SPAN_350, #SPAN_367 {
    box-sizing: border-box;
    color: rgb(139, 159, 169);
    cursor: pointer;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border: 0px none rgb(139, 159, 169);
    font: normal normal normal normal 13px / 18.5714px ProximaNova-Regular, arial, sans-serif;
    outline: rgb(139, 159, 169) none 0px;
}/*#SPAN_10, #SPAN_27, #SPAN_44, #SPAN_61, #SPAN_78, #SPAN_95, #SPAN_112, #SPAN_129, #SPAN_146, #SPAN_163, #SPAN_180, #SPAN_197, #SPAN_214, #SPAN_231, #SPAN_248, #SPAN_265, #SPAN_282, #SPAN_299, #SPAN_316, #SPAN_333, #SPAN_350, #SPAN_367*/

#DIV_11, #DIV_45, #DIV_62, #DIV_79, #DIV_96, #DIV_113, #DIV_130, #DIV_147, #DIV_164, #DIV_181, #DIV_198, #DIV_215, #DIV_232, #DIV_249, #DIV_283, #DIV_300, #DIV_317, #DIV_351, #DIV_368 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    height: 20px;
    position: relative;
    top: 49.5px;
    width: 967.11px;
    z-index: 0;
    perspective-origin: 558.547px 10px;
    transform: matrix(1, 0, 0, 1, 0, -10);
    transform-origin: 558.547px 10px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 20px ProximaNova-Regular, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_11, #DIV_45, #DIV_62, #DIV_79, #DIV_96, #DIV_113, #DIV_130, #DIV_147, #DIV_164, #DIV_181, #DIV_198, #DIV_215, #DIV_232, #DIV_249, #DIV_283, #DIV_300, #DIV_317, #DIV_351, #DIV_368*/

#DIV_12, #DIV_46, #DIV_63, #DIV_80, #DIV_97, #DIV_114, #DIV_131, #DIV_148, #DIV_165, #DIV_182, #DIV_199, #DIV_216, #DIV_233, #DIV_250, #DIV_284, #DIV_301, #DIV_318, #DIV_352, #DIV_369 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    height: 20px;
    width: 967.11px;
    perspective-origin: 558.547px 10px;
    transform-origin: 558.547px 10px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 20px ProximaNova-Regular, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_12, #DIV_46, #DIV_63, #DIV_80, #DIV_97, #DIV_114, #DIV_131, #DIV_148, #DIV_165, #DIV_182, #DIV_199, #DIV_216, #DIV_233, #DIV_250, #DIV_284, #DIV_301, #DIV_318, #DIV_352, #DIV_369*/

#I_13, #I_47, #I_64, #I_81, #I_98, #I_115, #I_132, #I_149, #I_166, #I_183, #I_200, #I_217, #I_234, #I_251, #I_285, #I_302, #I_319, #I_353, #I_370 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: inline-block;
    height: 15px;
    vertical-align: middle;
    width: 19px;
    perspective-origin: 9.5px 7.5px;
    transform-origin: 9.5px 7.5px;
    background: rgba(0, 0, 0, 0) url(https://access.ticketmaster.com/media/caui/svg/grfx-resale.svg) repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: italic normal normal normal 14px / 20px ProximaNova-Regular, Arial, sans-serif;
    margin: 0px 10px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#I_13, #I_47, #I_64, #I_81, #I_98, #I_115, #I_132, #I_149, #I_166, #I_183, #I_200, #I_217, #I_234, #I_251, #I_285, #I_302, #I_319, #I_353, #I_370*/

#DIV_14, #DIV_17, #DIV_29, #DIV_31, #DIV_34, #DIV_48, #DIV_51, #DIV_65, #DIV_68, #DIV_82, #DIV_85, #DIV_99, #DIV_102, #DIV_116, #DIV_119, #DIV_133, #DIV_136, #DIV_150, #DIV_153, #DIV_167, #DIV_170, #DIV_184, #DIV_187, #DIV_201, #DIV_204, #DIV_218, #DIV_221, #DIV_235, #DIV_238, #DIV_252, #DIV_255, #DIV_267, #DIV_269, #DIV_272, #DIV_286, #DIV_289, #DIV_303, #DIV_306, #DIV_320, #DIV_323, #DIV_335, #DIV_337, #DIV_340, #DIV_354, #DIV_357, #DIV_371, #DIV_374 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: none;
    height: auto;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 20px ProximaNova-Regular, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_14, #DIV_17, #DIV_29, #DIV_31, #DIV_34, #DIV_48, #DIV_51, #DIV_65, #DIV_68, #DIV_82, #DIV_85, #DIV_99, #DIV_102, #DIV_116, #DIV_119, #DIV_133, #DIV_136, #DIV_150, #DIV_153, #DIV_167, #DIV_170, #DIV_184, #DIV_187, #DIV_201, #DIV_204, #DIV_218, #DIV_221, #DIV_235, #DIV_238, #DIV_252, #DIV_255, #DIV_267, #DIV_269, #DIV_272, #DIV_286, #DIV_289, #DIV_303, #DIV_306, #DIV_320, #DIV_323, #DIV_335, #DIV_337, #DIV_340, #DIV_354, #DIV_357, #DIV_371, #DIV_374*/

#I_15, #I_32, #I_49, #I_66, #I_83, #I_100, #I_117, #I_134, #I_151, #I_168, #I_185, #I_202, #I_219, #I_236, #I_253, #I_270, #I_287, #I_304, #I_321, #I_338, #I_355, #I_372 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    width: 16px;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(0, 0, 0, 0) url(https://access.ticketmaster.com/media/caui/svg/grfx-vip.svg) repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: italic normal normal normal 14px / 20px ProximaNova-Regular, Arial, sans-serif;
    margin: 0px 10px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#I_15, #I_32, #I_49, #I_66, #I_83, #I_100, #I_117, #I_134, #I_151, #I_168, #I_185, #I_202, #I_219, #I_236, #I_253, #I_270, #I_287, #I_304, #I_321, #I_338, #I_355, #I_372*/

#DIV_16, #DIV_50, #DIV_67, #DIV_84, #DIV_101, #DIV_118, #DIV_135, #DIV_152, #DIV_169, #DIV_186, #DIV_203, #DIV_220, #DIV_237, #DIV_254, #DIV_288, #DIV_305, #DIV_322, #DIV_356, #DIV_373 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    height: 80px;
    width: 967.11px;
    perspective-origin: 558.547px 40px;
    transform-origin: 558.547px 40px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 20px ProximaNova-Regular, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_16, #DIV_50, #DIV_67, #DIV_84, #DIV_101, #DIV_118, #DIV_135, #DIV_152, #DIV_169, #DIV_186, #DIV_203, #DIV_220, #DIV_237, #DIV_254, #DIV_288, #DIV_305, #DIV_322, #DIV_356, #DIV_373*/

#DIV_16:after, #DIV_50:after, #DIV_67:after, #DIV_84:after, #DIV_101:after, #DIV_118:after, #DIV_135:after, #DIV_152:after, #DIV_169:after, #DIV_186:after, #DIV_203:after, #DIV_220:after, #DIV_237:after, #DIV_254:after, #DIV_288:after, #DIV_305:after, #DIV_322:after, #DIV_356:after, #DIV_373:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: block;
    width: 967.11px;
    perspective-origin: 558.547px 0px;
    transform-origin: 558.547px 0px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 20px ProximaNova-Regular, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_16:after, #DIV_50:after, #DIV_67:after, #DIV_84:after, #DIV_101:after, #DIV_118:after, #DIV_135:after, #DIV_152:after, #DIV_169:after, #DIV_186:after, #DIV_203:after, #DIV_220:after, #DIV_237:after, #DIV_254:after, #DIV_288:after, #DIV_305:after, #DIV_322:after, #DIV_356:after, #DIV_373:after*/

#DIV_16:before, #DIV_50:before, #DIV_67:before, #DIV_84:before, #DIV_101:before, #DIV_118:before, #DIV_135:before, #DIV_152:before, #DIV_169:before, #DIV_186:before, #DIV_203:before, #DIV_220:before, #DIV_237:before, #DIV_254:before, #DIV_288:before, #DIV_305:before, #DIV_322:before, #DIV_356:before, #DIV_373:before {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: table;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 20px ProximaNova-Regular, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_16:before, #DIV_50:before, #DIV_67:before, #DIV_84:before, #DIV_101:before, #DIV_118:before, #DIV_135:before, #DIV_152:before, #DIV_169:before, #DIV_186:before, #DIV_203:before, #DIV_220:before, #DIV_237:before, #DIV_254:before, #DIV_288:before, #DIV_305:before, #DIV_322:before, #DIV_356:before, #DIV_373:before*/

#svg_18, #svg_35, #svg_52, #svg_69, #svg_86, #svg_103, #svg_120, #svg_137, #svg_154, #svg_171, #svg_188, #svg_205, #svg_222, #svg_239, #svg_256, #svg_273, #svg_290, #svg_307, #svg_324, #svg_341, #svg_358, #svg_375 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    height: 12px;
    width: 14px;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 20px ProximaNova-Regular, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
}/*#svg_18, #svg_35, #svg_52, #svg_69, #svg_86, #svg_103, #svg_120, #svg_137, #svg_154, #svg_171, #svg_188, #svg_205, #svg_222, #svg_239, #svg_256, #svg_273, #svg_290, #svg_307, #svg_324, #svg_341, #svg_358, #svg_375*/

#path_19, #path_36, #path_70, #path_104, #path_138, #path_172, #path_206, #path_240, #path_274, #path_308, #path_342, #path_376 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    perspective-origin: 50% 50%;
    fill: rgb(255, 255, 255);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 20px ProximaNova-Regular, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#path_19, #path_36, #path_70, #path_104, #path_138, #path_172, #path_206, #path_240, #path_274, #path_308, #path_342, #path_376*/

#DIV_28, #DIV_266, #DIV_334 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    position: relative;
    top: 49.5px;
    width: 967.11px;
    z-index: 0;
    perspective-origin: 558.547px 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 558.547px 0px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 20px ProximaNova-Regular, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_28, #DIV_266, #DIV_334*/

#I_30, #I_268, #I_336 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: inline-block;
    height: 15px;
    vertical-align: middle;
    width: 19px;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(0, 0, 0, 0) url(https://access.ticketmaster.com/media/caui/svg/grfx-resale.svg) repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: italic normal normal normal 14px / 20px ProximaNova-Regular, Arial, sans-serif;
    margin: 0px 10px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#I_30, #I_268, #I_336*/

#DIV_33, #DIV_271, #DIV_339 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    height: 100px;
    width: 967.11px;
    perspective-origin: 558.547px 50px;
    transform-origin: 558.547px 50px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 20px ProximaNova-Regular, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_33, #DIV_271, #DIV_339*/

#DIV_33:after, #DIV_271:after, #DIV_339:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: block;
    width: 967.11px;
    perspective-origin: 558.547px 0px;
    transform-origin: 558.547px 0px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 20px ProximaNova-Regular, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_33:after, #DIV_271:after, #DIV_339:after*/

#DIV_33:before, #DIV_271:before, #DIV_339:before {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: table;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 20px ProximaNova-Regular, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_33:before, #DIV_271:before, #DIV_339:before*/

#path_53, #path_87, #path_121, #path_189, #path_257, #path_325 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    perspective-origin: 50% 50%;
    fill: rgb(255, 255, 255);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 20px ProximaNova-Regular, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#path_53, #path_87, #path_121, #path_189, #path_257, #path_325*/

#DIV_88 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    height: 100px;
    width: 967.11px;
    perspective-origin: 558.547px 50px;
    transform-origin: 558.547px 50px;
    background: rgba(0, 155, 222, 0.0784314) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 0px none rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 1px solid rgb(200, 201, 206);
    border-left: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 20px ProximaNova-Regular, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_88*/

#path_155, #path_223, #path_359 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    perspective-origin: 50% 50%;
    fill: rgb(255, 255, 255);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 20px ProximaNova-Regular, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#path_155, #path_223, #path_359*/

#path_291 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    perspective-origin: 50% 50%;
    fill: rgb(255, 255, 255);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px / 20px ProximaNova-Regular, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#path_291*/
