/*!
	Container
*/
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

/*!
	Columns
*/
.col-md-1 {
	padding-right: 0px;
	padding-left: 0px;
}
.col-md-11 {
	padding-right: 0px;
	padding-left: 0px;
    margin-left: -15px;
}

/*!
	Detail Header
*/
.detail-header {
	margin-top: 20px;
	height: 80px;
}
.detail-header .eventDate {
	float: left;
	width: 100px;
	margin-left: 30px;
	padding: 0 10px 0 10px;
	border-right: 1px solid #c1c5c7;
}
.detail-header .eventDate .day{
	font-size: 30px;
	color: #1085b7;
}
.detail-header .eventNameGroup {
	float: left;
	width: 700px;
	margin-left: 20px;
}
.detail-header .eventNameGroup .eventName {
	font-size: 30px;
}

/*!
	Navbar
*/
.navbar-default {
  background-color: #1085b7;
  border-color: #1085b7;
  min-height: 60px;
}
.navbar-default .navbar-brand {
  color: #ffffff;
  line-height: 60px;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
  line-height: 60px;
}
.navbar-default .navbar-text {
  color: #ffffff;
  line-height: 60px;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  line-height: 60px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  line-height: 60px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #1085b7;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #1085b7;
}
.navbar-default .navbar-toggle {
  border-color: #1085b7;
  line-height: 60px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #1085b7;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #ffffff;
  line-height: 90px;
  margin-right: 10px;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #1085b7;
  }
}

/*!
	Labels
*/
.label-default {
	border-radius: 10px;
	color: #1085b7;
	background-color: #ffffff;
}
.label-host {
	color: #ffffff;
	background-color: #1085b7;
	font-weight: 100;
}
